name: Schedule Python Script
#on:
#  schedule:
#    - cron: '0 0 */14 * *'

on:
  push:
    branches:
      - main

jobs:
  run_script:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout code
      uses: actions/checkout@v3
    - name: Set up Python
      uses: actions/setup-python@v2
      with:
        python-version: 3.10.6
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -r requirements.txt
    - name: Create file
      run: ls -la
    - name: Save JSON as file
      run: echo ${{ secrets.GCP_SERV_ACCT }} > service-account.json
    - name: Run script
      run: python load_qatar_car_data.py
