name: Schedule Python Script
on:
  schedule:
    - cron: '0 0 */14 * *'

#name: Lint source code
#on: push

jobs:
  run_script:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout code
      uses: actions/checkout@v3
    - name: Set up Python
      uses: actions/setup-python@v2
      with:
        python-version: 3.10.6
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -r requirements.txt
    - name: Run script
      run: python save_data_in_db.py
    - name: Configure Git
      run: |
        git config --global user.email "arsenekeya@gmail.com"
        git config --global user.name "thetradingwhisperer"
    - name: Commit changes
      run: |
        git add QatarCarSale.db
        git commit -m "Appended more car sale data each 2 weeks"
        git push

